.titlebar {
    color: rgb(241, 92, 92);
    background: rgba(128, 128, 128, 0.336);
    padding: 5.3px;
    display: flex;
    app-region: drag;
    margin-top: -1.215%;
    margin-left: 15%;
    border-radius: 8px;
    font-family: "Consolas";
}
body {
    color: white;
    overflow: hidden;
}
#icon {
    margin-right: 6px;
}
#info {
    font-size: 12px;
    position: relative;
    justify-self: center;
    margin-top: 95%;
}